@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<style>
    body {
        margin-top: 100px;
    }
</style>
<head>
    <title>NotLoggedIn</title>
</head>

<h2>You need to be logged in to use this application.</h2>
<h3><a href="/Account/Register">Click here</a> to register or <a href="/Account/Login">here</a> to log in.</h3>
